<div ng-repeat="row in tubeMetaData.results.bindings">
  <h3>{{row.label.value}} :: Diffusion Tube</h3>
  <dl>
    <dt>whats being measured</dt>
    <dd>{{row.prop.value}}</dd>
    <dt>Who is responsible for this diffusion tube</dt>
    <dd>{{row.party.value}}</dd>
    <dt>What methodology is being used</dt>
    <dd>{{row.methodology.value}}</dd>
  </dl>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Annual Average</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in tubeData.results.bindings">
      <td>{{row.start.value}}</td>
      <td>{{row.end.value}}</td>
      <td>{{row.value.value}}</td>
    </tr>
  </tbody>
</table>

Chart..
<div google-chart chart="chartObject" style="{{chart.cssStyle}}"></div>
