<h2>There are many items at that location, please select one below</h2>

<ul class="list-group">
  <li class="list-group-item" ng-repeat="row in fl" ng-switch on="row.values_.type">


    <span ng-switch-when="Diffusion" ng-click="displayDiffusion(row.values_.uri)">
      <img ng-switch-when="Diffusion" src="/odk/img/tube_default.png"></img>
      Diffusion Tube : {{row.values_.name}}
    </span>

    <span ng-switch-when="Permit" ng-click="displayPermit(row.values_)">
      <img src="/odk/img/permit.png"></img>
      Permit : {{row.values_.name}}
    </span>

    <span ng-switch-when="RTMonitoring" ng-click="displayRTMonitoring(row.values_.uri,row.values_)">
      <img src="/odk/img/monitoring.png"></img>
      Monitoring Station : {{row.values_.label}}
    </span>
  </li>
</ul>
  </li>
</ul>
