<h2>There are many items at that location, please select one below</h2>

<ul class="list-group">
  <li class="list-group-item" ng-repeat="row in fl" ng-switch on="row.values_.type">


    <span ng-switch-when="Diffusion" ng-click="displayDiffusion(row.values_.uri)">
      <img ng-switch-when="Diffusion" src="/img/tube_default.png"></img>
      {{row.values_.name}}
    </span>

    <span ng-switch-when="Permit" ng-click="displayPermit(row.values_)">
      <img src="/img/permit.png"></img>
      {{row.values_.name}}
    </span>
  </li>
</ul>
